@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: white;
}

@layer utilities {
  .font-mono {
    font-family: 'Courier New', Courier, monospace;
  }
}